---
title: Início
layout: default
---

<span id="hero">Atualmente a melhor ferramenta(Open-Source) para aumento do FPS no jogo <a href=http://leagueoflegends.com>League of Legends</a>, e também torna o cliente <a href="http://pvp.net">PvP.net</a> mais responsivo/rápido.<br>
<br>
Não afeta a qualidade gráfica.<br>
Pode tornar o Shop-ingame mais rápido.<br>
<br>
DavidKNA está trabalhando em uma versão para o OSX na versão atual!<br>
<br>
<strong>Atualmente a procura de tradutores que possam se manter disponíveis caso eu necessite atualizar a página.</strong><br>
<br>
Funciona para o LoL normal (Todos os servidores), GarenaLoL (Todas as versões) e <a href="http://lol.qq.com/">LoL QQ (LoL Chinês)</a><br>
<br>
<a href="http://riotgames.com/">A Riot (Os criadores do League of Legends)</a> disse <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>isso</u></a> sobre o LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater não fará você ser banido.<br>
<br>
O programa funciona substituindo alguns arquivos <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> com as últimas versões disponibilizadas pela Nvidia/Intel/Adobe, (O LoL usa DLLs desatualizadas).
</span>
</dt>
<hr>
<center>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- asdasd -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="2482110934"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.0.3</a>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Leftz -->
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="1005377730"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
  <strong><time>Atualizado em 4 de fevereiro de 2015 20:54 GMT+1</time></strong>
</dd>

</center>
<dl>
  <details open>
 <summary><dt>Como instalar:</dt>
    </summary>
    <dd>
      <ul>
      <li>Instale o <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Feche o cliente PvP.net/Jogo</li>
         <br>
        <li>Abra o LoLUpdater.exe e selecione o diretório apropriado:
        <ul>
        <br>
  <li>LoL Normal: <code>Riot Games\League of Legends</code> (onde o arquivo <code>lol.launcher.exe</code> está)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (onde o arquivo <code>lol.exe</code> está)</li>
  <br>
  <li>LoLQQ (LoL Chinês): <code>腾讯游戏\英雄联盟</code> (onde o arquivo <code>lol.launcher_tencent.exe</code> está)</li>
</ul>
  <br>
    Espere (1 minuto em uma internet de 100mbit com SSD), e então divirta-se! (Feche o LoLUpdater uma vez que o processo terminou)</li>
         <br>
        <li>Execute assim no Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Você pode baixar novamente o LoLUpdater a cada Lol-Patch (Atualização do jogo) para manter os benefícios funcionando</li>
  </details>
  <details>
    <summary><dt>Instalação manual: (clique)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Como desbloquear um arquivo:</dt>
    </summary>Clique com o botão direito no arquivo -> Propriedades -> Desbloquear</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>No XP você vai precisar <a href="http://lol.jdhpro.com/UnblockFile.zip">disso</a> para desbloquear os arquivos, extraia e execute o "Unblock.bat" na mesma pasta que está o arquivo que você quer desbloquear (Edite o Unblock.bat e mude o nome que está nele)</li>
         </details>
    <br>
      <li>Instale o <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> e o <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Não importa se você tem uma placa de video ATI)</a>, desbloqueie os instaladores.
        </a>
      </li>
       <br>
      <li>Mova as dlls <code>cg.dll</code>, <code>cgGL.dll</code> e <code>cgD3D9.dll</code> da pasta <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> para a pasta <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Copie a dll <code>Adobe AIR.dll</code> da pasta <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> para <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (coloque a dll <code>NPSWF32.dll</code> na pasta <code>Resources</code>)
      </li>
       <br>
      <li>Baixe o <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> e cheque quais instruções SIMD a sua CPU suporta e então baixe o correto (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> ou <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> e coloque na mesma pasta que os arquivos Cg(veja acima), renomeie para <code>tbb.dll</code> e desbloqueie a dll.
      </li>
      <br>
      <li>
         Baixe as dlls <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> e as copie para a mesma pasta da dll <code>cg.dll</code> (Veja acima), desbloqueie ambos os arquivos.
      </li>
      <br>
      <li>Agora você está pronto pra jogar! (Repita o processo a cada atualização)</li>
   </ul>
  </details>
</dl>

      <dt>Entre em contato por:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Contribuidores:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
