---
title: Home
layout: default
---

<span id="hero">LoLUpdater ist im Moment das beste <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Open-Source)</a></u> Programm um die FPS in <a href=http://leagueoflegends.com>League of Legends</a> zu steigern. Außerdem Außerdem reagiert der <a href="http://pvp.net">PvP.net</a> Client bedeutend schneller.<br>
<br>
Das Programm beeinträchtigt keinesfalls die Grafik oder die Auflösung.<br>
Es könnte sogar den Ingame-Shop schneller werden lassen!<br>
<br>
DavidKNA arbeitet zurzeit an der OSX version dieses Patches!<br>
<br>
Das Programm funktioniert für das normale LoL (Alle Server),für GarenaLoL (Alle Versionen) und auch für <a href="http://lol.qq.com/">LoL QQ (Die chinesische Version von LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Die Entwickler von League of Legends)</a> äußerten folgendes <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>Statement</u></a> über LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
Du kannst NICHT wegen der Nutzung von LoLUpdater gebannt werden.<br>
<br>
Um das Programm zu installieren, musst du diese <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> Dateien mit den neuen ersetzen, die von Nvidia/Intel/Adobe/Microsoft gemacht wurden, (LoL's Dateien sind nicht die neusten).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Downloade hier LoLUpdater v1.0.1.3</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link zum Source-Code</a>
</dt> 
<dd>
  <strong><time>Updated February 7th 2015 00:40 GMT+1</time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>So wird's installiert:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installiere <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Schließe den PvP.net Clienten</li>
         <br>
        <li>Starte LoLUpdater.exe und wähle das Zielverzeichnis aus:
        <ul>
        <br>
  <li>Standart LoL: <code>Riot Games\League of Legends</code> (wo <code>lol.launcher.exe</code> ist)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (wo <code>lol.exe</code> ist)</li>
  <br>
  <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (wo <code>lol.launcher_tencent.exe</code> ist)</li>
</ul>
  <br>
    warte (Unter 1 Minute!), und schon bist du fertig ;)! (Schließe LoLUpdater.exe wenn du fertig bist)</li>
         <br>
         <li>Falls du Windows XP hast sollte dieses Fenster erscheinen:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Du kannst dein LoL mit LoLUpdater nach JEDEM Patch updaten damit LoLUpdater weiterhin richtig funktioniert.(Sogar nach den Micro-Patches)</li>
  </details>
  <details>
    <summary><dt>Manuelle Installation: (Klicke hier)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Wie man eine Datei entblockt:</dt>
    </summary>Right click file -> Properties -> Unblock</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Wenn du Windows XP benutzt brauchst du <a href="http://lol.jdhpro.com/UnblockFile.zip">das</a> um eine Datei zu entsperren, entpacke und starte "Unblock.bat" im gleichen Verzeichnis wie die Datei die du entblocken möchtest (Editiere Unblock.bat und ändere den Dateinamen)</li>
         </details>
    <br>
      <li>Installiere <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> und <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG</a>, und dann entblocke die Installer.
        </a>
      </li>
       <br>
      <li>Zieh <code>cg.dll</code>, <code>cgGL.dll</code> und <code>cgD3D9.dll</code> aus <code>%WindowsDrive%:\Programme(x86)\NVIDIA Corporation\Cg\bin</code> zu <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Kopiere <code>Adobe AIR.dll</code> aus <code>%WindowsDrive%:\Programme(x86)\Common Files\Adobe AIR\Versions\1.0</code> und füge es hier ein: <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (packe <code>NPSWF32.dll</code> in den <code>Resources</code> Ordner)
      </li>
       <br>
      <li>Downloade <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> und vergewissere dich welche SIMD Instruktionen dein Prozessor unterstützt und lad dir dann den richtigen runter (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> oder <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> und pack es in den gleichen Ordner wie deine Cg Dateien (s.o.), nenne sie in <code>tbb.dll</code> um und entblocke sie.
      </li>
      <br>
      <li>
         Downloade <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> und kopiere sie in den Ordner wo auch deine <code>cg.dll</code> ist (s.o.), entblocke beide Dateien.
      </li>
      <br>
      <li>
          Du kannst aber auch beide Dateien aus dem vorherigen Schritt kopieren und hier einfügen: <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Jetzt bist du endlich fertig ;)! (Du musst das Prozedere allerdings jeden Patch wiederholen)</li>
   </ul>
  </details>
</dl>

      <dt>Kontaktiere uns:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Mitwirkende:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
