---
title: Home
layout: default
---

<span id="hero">LoLUpdater est actuellement le meilleur outil (Open-Source) pour augmenter le nombre d'images par seconde sur le jeu <a href=http://leagueoflegends.com>League of Legends</a>, il permet en outre de rendre le client <a href="http://pvp.net">PvP.net</a> plus réactif/rapide.<br>
<br>
Cet outil n'affecte pas la qualité graphique du jeu.<br>
Il peut aussi rendre l'ouverture de la boutique plus rapide.<br>
DavidKNA travaille actuellement sur une version pour Mac OS X !<br>
<br>
Il fonctionne à la fois pour le client classique de LoL (tous les serveurs), celui de GarenaLoL (toutes les versions) ainsi que  <a href="http://lol.qq.com/">LoL QQ (LoL en Chine)</a><br>
<br>
<a href="http://riotgames.com/">Riot Games (Editeur de League of Legends)</a> a déclaré <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>ceci</u></a> à propos de LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
En résumé, LoLUpdater n'est pas interdit par Riot et ne conduira pas à un bannissement de votre compte.<br>
<br>
Il fonctionne en remplaçant des fichiers <a href="http://fr.wikipedia.org/wiki/Dynamic_Link_Library">DLL</a> du jeu par les dernières versions disponibles auprès de Nvidia/Intel/Adobe/Microsoft. (Les fichiers de LoL ne sont pas systématiquement les derniers en date).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Lien vers le Code Source</a>
</dt> 
<dd>
   <strong><time>Updated February 8th 2015 12:24 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
style="display:inline-block;width:336px;height:280px"
data-ad-client="ca-pub-6694715230959620"
data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.1.9</a>
<dd>SHA512 Checksum: 24CB0061E2A77E34A56E580C82411E6632CA1D34499F48E67FFC3E59175FD2665E3783EDDC25925A2449FB55600ABD7B948DA8A4682258FF494A505EA9C7E63E</dd>
</center>
<dl>
  <details open>
 <summary><dt>Comment l'installer:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installez <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Quittez le client PvP.net et le Jeu</li>
         <br>
        <li>Lancez LoLUpdater.exe et sélectionnez le répertoire approprié:
        <ul>
        <br>
  <li>LoL Classic: <code>Riot Games\League of Legends</code> (où <code>lol.launcher.exe</code> est situé)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (où <code>lol.exe</code> est situé)</li>
  <br>
  <li>LoLQQ (LoL Chinois): <code>腾讯游戏\英雄联盟</code> (où <code>lol.launcher_tencent.exe</code> est situé)</li>
</ul>
  <br>
    Attendez (moins d'1 minute avec une connexion fibre de 100mbit et un SSD) et savourez! (Vous pouvez fermer LoLUpdater une fois fini)</li>
         <br>
         <li>Faites comme ceci sur Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Vous pouvez relancer LoLUpdater après chaque patch de LoL (fait par Riot) afin de garder LoLUpdater actif. (Même après de petites mises à jour)</li>
  </details>
  <details>
    <summary><dt>Installation manuelle: (cliquez pour afficher)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Comment débloquer un fichier:</dt>
    </summary>Clic droit sur le fichier -> Propriétés -> Débloquer</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Sur XP vous allez avoir besoin de <a href="http://lol.jdhpro.com/UnblockFile.zip">ceci</a> pour débloquer les fichiers, lancez l'extration et executez "Unblock.bat" dans le même dossier que les fichiers à débloquer (Editez Unblock.bat et changez le nom du fichier)</li>
         </details>
    <br>
      <li>Installez <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> et <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Pas nécessaire si vous avez une carte graphique ATI/AMD)</a>, débloquez l'installateur.
        </a>
      </li>
       <br>
      <li>Déplacez <code>cg.dll</code>, <code>cgGL.dll</code> et <code>cgD3D9.dll</code> depuis <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> vers <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Copiez <code>Adobe AIR.dll</code> depuis <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> vers <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (mettez <code>NPSWF32.dll</code> dans le dossier <code>Resources</code>)
      </li>
       <br>
      <li>Téléchargez <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> et vérifier quels instructions SIMD votre CPU supporte puis téléchargez celui correspondant (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> ou <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> et mettez dans le même dossier que celui de votre carte graphique (voir plus haut), renommez-le en <code>tbb.dll</code> et dévérouillez-le.
      </li>
      <br>
      <li>
         Téléchargez <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> et copiez les au même endroit que le fichier <code>cg.dll</code> (voir plus haut), dévérouillez les deux fichiers.
      </li>
      <br>
      <li>
          Vous pouvez aussi copier les deux fichiers de l'étape précedente et les coller dans <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Maintenant vous pouvez jouer ! (Répetez celà à chaque patch)</li>
   </ul>
  </details>
</dl>

      <dt>Nous contacter (Anglais):</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: Ilja.Korsun@Gmail.com</dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Contributeurs:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
