---
title: Home
layout: default
---

<span id="hero">Το LoLUpdater είναι ένα από τα καλύτερα <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Open-Source)</a></u> προγράμματα όχι μόνο για την αύξηση του framerate σας κατά την διάρκεια του παιχνιδίου <a href=http://leagueoflegends.com>League of Legends</a>, αλλά και για την βελτίωση της ανταποκρισιμότητας και ταχύτητας του <a href="http://pvp.net">PvP.net</a> client.<br>
<br>
Δεν επιρρεάζει τις επιλογές γραφικών σας.<br>
Μπορεί να επισπεύσει την ταχύτητα ανοίγματος του in-game shop.<br>
<br>
Ο DavidKNA δουλεύει αυτήν την στιγμή για την αναβαθμηση της OSX version του προγράμματος για το τελευταίο Patch!<br>
<br>
Ειναι συμβάσιμο με το Κανονικό LoL (Όλα τα σέρβερ), το GarenaLoL (Όλες τις εκδόσεις) και το <a href="http://lol.qq.com/">LoL QQ (Κινέζικο LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Οι δημιουργοί του League of Legends)</a> έχουν ανακοινώσει <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>αυτό</u></a> για το LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
Το LoLUpdater δεν μπορεί να σου μπανάρει το λογαριασμό σου.<br>
<br>
Δουλεύει με το να αντικαθιστά τα <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> αρχεία του LoL με τα τελευταία διαθέσημα απο την Nvidia/Intel/Adobe/Microsoft, (Τα αρχεία του LoL δεν είναι τα πιο πρόσφατα).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Σύνδεσμος για το Source-Code</a>
</dt>
<dd>
  <strong><time>Last updated: February 10th 2015 03:00 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
    style="display:inline-block;width:336px;height:280px"
    data-ad-client="ca-pub-6694715230959620"
    data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/download.php?user=Loggan&file=T1VRdVdqb3daL1doZ1p6T1JWN3VvUT09" class="btn">Download LoLUpdater v1.0.2.0</a>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/download.php?user=Loggan&file=QjVDQU5OV1NZSE5nT2d6YTdnaURQMFZvV2FBbHU0RDR6REtBVkxCc3VTRT0=" class="btn">Download LoLUpdaterAutoupdater</a>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/download.php?user=Loggan&file=S0RhclVHU1ZhMXU4NG5DM1J6YnB1ZkhseWJNN05CSnVsQ2NUekg1TFRDbz0=" class="btn">Download LoLUpdater Uninstaller</a>
</center>
<dl>
 <details open>
<summary><dt>Πως να το εγκαταστήσετε:</dt>
   </summary>
   <dd>
     <ul>
     <li>Κάντε εγκατάσταση του<a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
       <br>
       <li>Κλείστε το PvP.net client/Game</li>
        <br>
       <li>Ανοίξτε το LoLUpdater.exe και επιλέξτε το σωστό directory του League of Legends:
       <ul>
       <br>
 <li>Κανονικό LoL: <code>Riot Games\League of Legends</code> (Όπου βρίσκεται το <code>lol.launcher.exe</code>)</li>
 <br>
 <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (Όπου βρίσκεται το  <code>lol.exe</code>)</li>
 <br>
 <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (Όπου βρίσκεται το  <code>lol.launcher_tencent.exe</code>)</li>
</ul>
 <br>
   Περιμένετε (Κάτω απο 1 λεπτό σε 100mbit γραμμή ίντερνετ με SSD), και απολαύστε το ανανεωμένο παιχνίδι σας! (Κλείστε το LoLUpdater μόλις τελειώσει)</li>
        <br>
        <li>Τρέξτε με αυτό το τρόπο στα Windows XP:</li>
        <br>
        <img src="img/XPinstallation.png" width="33%" height="33%">
        <br>
        <br>
       <li>Μπορείτε να επανεγκαταστήσετε το LoLUpdater σε κάθε LoL-Patch (Patch από την Riot) για να διατηρήσετε το LoLUpdater ενεργό (Ακόμα και μετά απο τα micro-patches)</li>
 </details>
 <details>
   <summary><dt>Χειροκίνητη Εγκατάσταση: </dt>
   </summary>
   <ul>
   <details open>
   <summary><dt>Πως να ξεμπλοκάρετε ενα αρχείο:</dt>
   </summary>Δεξί κλίκ στο αρχείο -> Ιδιότητες -> Unblock</li><br>
       <img src="img/unblock.png"><br>
        <br>
        <li>Στα Windows XP θα χρειαστήτε να κατεβάσετε <a href="http://lol.jdhpro.com/UnblockFile.zip">αυτό</a> για να ξεμπλοκάρετε τα αρχεια σας. Αποσυμπιέστε και τρέξτε το αρχείο "Unblock.bat" στο ίδιο directory με το αρχείο που πρέπει να ξεμπλοκαριστεί (Επεξεργαστείτε το Unblock.bat και αλλάξτε το όνομα αρχείου στο εσωτερικό)</li>
        </details>
   <br>
     <li>Κατεβάστε και ανοίξτε το <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> και <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Ακόμα και αν έχετε ATI κάρτα γραφικών)</a>, ξεμπλοκάρετε τα αρχεία .exe.
       </a>
     </li>
      <br>
     <li>Μετακινήστε τα αρχεία <code>cg.dll</code>, <code>cgGL.dll</code> και <code>cgD3D9.dll</code> από τον φάκελο <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> στον φάκελο <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
     </li>
      <br>
     <li>Αντιγράψτε το αρχείο <code>Adobe AIR.dll</code> από τον φάκελο <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> στον φάκελο <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (Μετακινήστε το αρχείο <code>NPSWF32.dll</code> στον φάκελο  <code>Resources</code>)
     </li>
      <br>
     <li>Κατεβάστε το <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> και ελεξτε τι είδους SIMD οδηγίες υποστηρίζει το CPU σας και στην συνέχια κατεβάστε το σωστό (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> ή <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> και μετακινήστε το στο ίδιο directory με τα αρχεία Cg του βήματος 3, μετονομάστε το σε <code>tbb.dll</code> και ξεμπλοκάρετε το.
     </li>
     <br>
     <li>
        Κατεβάστε το <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> και το <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> και αντιγράψτε τα στο ίδιο φάκελο με το <code>cg.dll</code> (Βήμα 3), ξεμπλοκάρετε και τα δύο αρχεία.
     </li>
     <br>
     <li>
         Μπορείτε επίσης να αντιγράψετε τα δύο παραπάνω αρχεία στο directory <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
     </li>
     <br>
     <li>Τώρα μπορείτε να παίξετε! (Χρειάζετε επανάληψη αυτής της διαδικασίας σε κάθε νέο Patch)</li>
  </ul>
 </details>
</dl>

     <dt>Επικοινωνία:</dt>
         <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
         <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
         <dt>Skype: Ikorsu</dt>
<br>
 Συνεισφέροντες:
 <ul id="contributors">
 {% for contributor in site.data.contributors  %}
   <li>
   {% if contributor.website %}
   <a href="https://github.com/{{ contributor.website }}">
     {{ contributor.name }}
   </a>
   {% elsif contributor.github %}
     <a href="https://github.com/{{ contributor.github }}">
       {{ contributor.name }}
     </a>
   {% else %}
   {{ contributor.name }}
   {% endif %}
   </li>
 {% endfor %}
 </ul>
 
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
