---
title: Home
layout: default
---
<span id="hero">Il miglior tool <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Open-Source)</a></u> per aumentare il framerate su <a href=http://leagueoflegends.com>League of Legends</a>, inoltre rende il client <a href="http://pvp.net">PvP.net</a> più reattivo/veloce<br>
<br>
Non modifica la qualità grafica.<br>
Può rendere lo shop in-game più veloce<br>
<br>
DavidKNA sta lavorando sulla versione OSX di questa patch!<br>
<br>
Funziona su League of Legends normale (Tutti i server), GarenaLoL (Tutte le versioni) e su <a href="http://lol.qq.com/">LoL QQ (LoL Cinese)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Gli sviluppatori di League of Legends)</a> ha detto <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>questo</u></a> su LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater non è bannabile.<br>
<br>
Il suo funzionamento consiste nel sostituire i file <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> di LoL con gli ultimi disponibili da Nvidia/Intel/Adobe/Microsoft, (i file di LoL non sono aggiornati).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
  <strong><time>Last updated: February 10th 2015 03:00 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.1.9</a>
<dd>SHA512 Checksum: 1AB4CB62116DC9809B2F389D3AEA412D18B5935CEDCB49EE109C6C786FCF7C806E73EE2DF53610183531DEF6E1F1B624F0AA5091C2FD7AC639A3883AA70EB263C2838DA6BC59167B</dd>
</center>
<dl>
  <details open>
 <summary><dt>Installazione:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installa <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Esci dal gioco e dal client PvP.net</li>
         <br>
        <li>Esegui LoLUpdater.exe e seleziona le directory di League of Legends:
        <ul>
        <br>
  <li>LoL normale: <code>Riot Games\League of Legends</code> (dove si trova <code>lol.launcher.exe</code>)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (dove si trova <code>lol.exe</code>)</li>
  <br>
  <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (dove si trova <code>lol.launcher_tencent.exe</code>)</li>
</ul>
  <br>
    aspetta (Meno di un minuto con una connessione a 100mbit e con un SSD), e divertiti! (Chiudi LoLUpdater quando hai finito)</li>
         <br>
         <li>Eseguilo in questo modo su Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Puoi patchare nuovamente con LoLUpdater a ogni patch di LoL (Patch della Riot) per rendere LoLUpdater attivo (Anche dopo delle mini-patch)</li>
  </details>
  <details>
    <summary><dt>Manuale di installazione: (click)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Come sbloccare un file:</dt>
    </summary>Click destro sul file -> Proprietà -> Sblocca</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Su Windows Xp avrai bisogno di <a href="http://lol.jdhpro.com/UnblockFile.zip">questo</a> per sbloccare il file, estrai ed esegui "Unblock.bat" nella stessa directory del file da sbloccare (Rinomina Unblock.dat e il file interessato)</li>
         </details>
    <br>
      <li>Installa <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> e <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Non importa se hai una scheda video ATI)</a>, sblocca gli installer.
        </a>
      </li>
       <br>
      <li>Sposta <code>cg.dll</code>, <code>cgGL.dll</code> e <code>cgD3D9.dll</code> da <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> a <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Copia <code>Adobe AIR.dll</code> da <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> to <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (metti <code>NPSWF32.dll</code> nella cartella <code>Resources</code> )
      </li>
       <br>
      <li>Scarica <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> e controlla quali istruzioni SIMD la tua CPU supporta, quindi scarica quello giusto (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> o <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> e mettili nella stessa directory dei file Cg, rinomina in <code>tbb.dll</code> e sblocca.
      </li>
      <br>
      <li>
         Scarica <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> e copiali nello stessa cartella di <code>cg.dll</code>, sblocca entrambi i file.
      </li>
      <br>
      <li>
          Puoi anche copiare i due file dello step precedente e incollarli in <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Ora sei libero di giocare! (Ripeti a ogni patch)</li>
   </ul>
  </details>
</dl>
      <dt>Contattaci:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Collaboratori:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
