---
title: Home
layout: default
---

<span id="hero">LoLUpdater는 리그오브레전드의 프레임률을 향상시키는 최고의 <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(오픈-소스)</a></u> 툴 입니다, 또한 <a href="http://pvp.net">PvP.net</a> 클라이언트를 더 즉각반응/빠르게 만듭니다.<br>
<br>
그래픽 품질에는 영향을 미치지 않습니다.<br>
아마 게임내에서 상점이 더 빠르게 열릴겁니다.<br>
<br>
DavidKNA 가 이번패치의 OSX버전에 대해 작업중입니다!<br>
<br>
일반적인 LOL(모든 서버), 가레나LOL(모든 버전) 그리고 <a href="http://lol.qq.com/">LOLQQ (중국LOL)에서 작동합니다.</a><br>
<br>
<a href="http://riotgames.com/">라이엇 (리그오브레전드 제작자)</a> 은 <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>이렇게</u></a> 말했습니다..<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater는 당신을 밴당하게 하지않습니다.<br>
<br>
롤의  <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> 파일을 Nvidia/Intel/Adobe/Microsoft 에서 가장 최신의 사용한것으로 대체하여 작동합니다. (롤의 파일은 최신버전이 아닙니다).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
  <strong><time>Last updated: February 10th 2015 03:00 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.2.0</a>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdaterAutoUpdater.exe" class="btn">Download LoLUpdaterAutoupdater</a>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdater Uninstaller.exe" class="btn">Download LoLUpdater Uninstaller</a>
<dl>
  <details open>
 <summary><dt>설치 방법:</dt>
    </summary>
    <dd>
      <ul>
      <li><a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a> 를 설치합니다.</li>
        <br>
        <li>PvP.net  클라이언트/게임 을 종료합니다</li>
         <br>
        <li>LoLUpdater.exe 을 실행하고 적절한 디렉토리를 고릅니다::
        <ul>
        <br>
  <li>Regular LoL: <code>Riot Games\League of Legends</code> (<code>lol.launcher.exe</code> 가 있는곳)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (<code>lol.exe</code> 가 있는곳)</li>
  <br>
  <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (<code>lol.launcher_tencent.exe</code> 가 있는곳)</li>
</ul>
  <br>
기다리세요. (SSD와 100mbit 라인이 설치 되어있으면 1분도 안걸립니다), 그리고 즐기세요! (완료 후 LoLUpdater는 종료해주세요)</li>
         <br>
         <li>윈도우 XP 체제에서 실행할경우:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>LoLUpdater상태를 유지하기위해 매 롤 패치(라이엇에 의해)마다 당신은 재설치 할수있습니다. (아주작은 패치도요)</li>
  </details>
  <details>
    <summary><dt>수동 설치: (클릭)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>How to Unblock a file:</dt>
    </summary>Right click file -> Properties -> Unblock</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>On Windows XP you will need <a href="http://lol.jdhpro.com/UnblockFile.zip">this</a> to unblock files, extract and run "Unblock.bat" in the same directory as the file to be unblocked (Edit Unblock.bat and change the filename inside)</li>
         </details>
    <br>
      <li>Install <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> and <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Does'nt matter if you have an ATI graphics card)</a>, unblock the installers.
        </a>
      </li>
       <br>
      <li>Move <code>cg.dll</code>, <code>cgGL.dll</code> and <code>cgD3D9.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> to <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Copy <code>Adobe AIR.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> to <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (put <code>NPSWF32.dll</code> in the <code>Resources</code> folder)
      </li>
       <br>
      <li>Download <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> and check what SIMD instructions your CPU supports then download the right one (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> or <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> and put it in the same directory as the Cg files (see above), rename it to <code>tbb.dll</code> and unblock it.
      </li>
      <br>
      <li>
         Download <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> and copy them to the same place as <code>cg.dll</code> (See above), unblock both files.
      </li>
      <br>
      <li>
          You can also copy the two files in the previous step and paste them in <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Now you are free to play! (Repeat every patch)</li>
   </ul>
  </details>
</dl>

      <dt>연락처:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Contributors:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
