---
title: Home
layout: default
---


<span id="hero">LoLUpdater is op dit moment de beste <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Open-Source)</a></u> tool om jouw FPS te verbeteren op <a href=http://leagueoflegends.com>League of Legends</a>, Ook maakt het de <a href="http://pvp.net">PvP.net</a> client veel sneller.<br>
<br>
Verminderd niet je grafische kwaliteit.<br>
Het kan je in-game shop sneller maken.<br>
<br>
DavidKNA werkt aan de OSX versie van deze patch op dit moment!<br>
<br>
Werkt voor de gewone LoL (Alle servers), GarenaLoL (Alle versies) en <a href="http://lol.qq.com/">LoL QQ (Chinese LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot Games</a> (De makers van League of Legends) heeft het <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>volgende</u></a> te zeggen over LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
Je kunt niet verbannen worden door LoLUpdater.<br>
<br>
LoLUpdater vervangt de oorspronkelijke <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> bestanden met die van Nvidia/Intel/Adove/Microsoft, omdat die van LoL niet up-to-date zijn.
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.1.0</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link naar Source-Code</a>
</dt>
<dd>
  <strong><time>Updated February 6th 2015 15:46 GMT+1</time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>Hoe je het installeert:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installeer <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Verlaat de PvP.net Client en/of Game</li>
         <br>
        <li>voer LoLUpdater.exe uit en selecteer de juiste folder:
        <ul>
        <br>
  <li>Gewone LoL: <code>Riot Games\League of Legends</code> (waar <code>lol.launcher.exe</code> is)</li>
  <br>
  <li>Garena LoL: <code>GarenaLoL\GameData\Apps\LoL</code> (waar <code>lol.exe</code> is)</li>
  <br>
  <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (waar <code>lol.launcher_tencent.exe</code> is)</li>
</ul>
  <br>
    wacht (Duurt minder dan 1 minuut op een SSD), daarna geniet! (Sluit LoLUpdater als het klaar is)</li>
         <br>
         <li>Voer het zo uit op Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Je kan na elke Patch van League of Legends gewoon LoLUpdater opnieuw uitvoeren, dit zal geen negatief effect hebben.</li>
  </details>
  <details>
    <summary><dt>Handmatige installatie: (click)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Hoe unblock je een bestand:</dt>
    </summary>Rechtermuisknop -> Eigenschappen -> Unblock</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Op Windows XP heb je <a href="http://lol.jdhpro.com/UnblockFile.zip">dit</a> nodig om bestanden te unblocken. extract en voer uit "Unblock.bat" in de zelfde map met het bestand dat moet worden geunblocked (Wijzig Unblock.bat en verander het bestands naam)</li>
         </details>
    <br>
      <li>Installeer <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> en <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Maakt niet uit als je een ATI grafische kaart hebt)</a>, unblock de installers.
        </a>
      </li>
       <br>
      <li>Verplaats <code>cg.dll</code>, <code>cgGL.dll</code> en <code>cgD3D9.dll</code> van <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> naar <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Kopieer <code>Adobe AIR.dll</code> van <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> naar <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (zet <code>NPSWF32.dll</code> in de <code>Resources</code> folder)
      </li>
       <br>
      <li>Download <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> en check welke SIMD instructies jouw CPU supporten en download de goeie (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> or <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> en zet het in de zelfde folder als de Cg bestanden (zie hierboven), hernoem het naar <code>tbb.dll</code> en unblock het.
      </li>
      <br>
      <li>
         Download <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> en kopieer ze naar de zelfde plaats als <code>cg.dll</code> (Zie hierboven), unblock beide bestanden.
      </li>
      <br>
      <li>
          Je kunt ook de twee vorige bestanden kopieeren en verplaatsen naar <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Nu ben je vrij om te spelen! (Herhaal elke patch!)</li>
   </ul>
  </details>
</dl>
 
      <dt>neem contact met ons op:</dt>
       <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
<dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
<dt>Skype: Ikorsu</dt>
<br>
Contributors:
<ul id="contributors">
{% for contributor in site.data.contributors %}
<li>
{% if contributor.website %}
<a href="https://github.com/{{ contributor.website }}">
{{ contributor.name }}
</a>
{% elsif contributor.github %}
<a href="https://github.com/{{ contributor.github }}">
{{ contributor.name }}
</a>
{% else %}
{{ contributor.name }}
{% endif %}
</li>
{% endfor %}
</ul>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
