---
title: Home
layout: default
---
<span id="hero">Лучший инструмент <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(с открым исходным кодом)</a></u> для улучшения FPS в игре<a href=http://leagueoflegends.com>League of Legends</a>, также заставляет <a href="http://pvp.net">PvP.net</a>-клиент работать быстрее.<br>
<br>
Не влияет на качество графики игры.<br>
<br>
Может ускорить процесс открытия окна магазина в игре.<br>
<br>
DavidKNA разрабатывает версию патча для OSX!<br>
<br>
Работает на всех версиях обычного LoL(Все сервера), GarenaLoL (Все версии) и <a href="http://lol.qq.com/">LoL QQ (Китайский LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Создатели League of Legends)</a> сделали <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>объявление</u></a> касательно LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater не приведет к потере вашей учетной записи.<br>
<br>
LoLUpdater заменяет <a href="https://ru.wikipedia.org/wiki/%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8_%D0%BF%D0%BE%D0%B4%D0%BA%D0%BB%D1%8E%D1%87%D0%B0%D0%B5%D0%BC%D0%B0%D1%8F_%D0%B1%D0%B8%D0%B1%D0%BB%D0%B8%D0%BE%D1%82%D0%B5%D0%BA%D0%B0">DLL-библиотеки</a> наиболее свежими, доступными на официальных ресурсах Nvidia/Intel/Adobe (в LoL установлены устаревшие  библиотеки).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Скачать LoLUpdater v1.0.0.5</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Исходный код</a>
</dt> 
<dd>
  <strong><time>Обновлён 6 февраля 2015 01:34 GMT+1</time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>Инструкции по установке:</dt>
    </summary>
    <dd>
      <ul>
      <li>Установите <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Выйдите из PvP.net-клиента/покиньте игру</li>
         <br>
        <li>Запустите LoLUpdater и укажите необходимую директорию:
        <ul>
        <br>
  <li>Обычный LoL: <code>Riot Games\League of Legends</code> (где находится <code>lol.launcher.exe</code>)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (где находится <code>lol.exe</code>)</li>
  <br>
  <li>LoLQQ (Китайский LoL): <code>腾讯游戏\英雄联盟</code> (где находится <code>lol.launcher_tencent.exe</code>)</li>
</ul>
  <br>
    подождите (менее 1 минуты при соединении 100mbit и SSD, закройте LoLUpdater по окончанию установки)</li>
         <br>
         <li>Запускайте следующим образом на Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Вы можете переустанавливать LoLUpdater с каждым обновлением LoL для его функциональности (также при мини-обновлениях)</li>
  </details>
  <details>
    <summary><dt>Установка вручную: (нажмите, чтобы открыть)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Как разблокировать файл:</dt>
    </summary>Нажмите правой кнопкой мыши по файлу -> Свойства -> Разблокировать</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>На Windows XP вам потребуется <a href="http://lol.jdhpro.com/UnblockFile.zip">это</a> чтобы разблокировать файлы, вам нужно извлечь и запустить "Unblock.bat" в той же директории, где и файл, чтобы разблокировать его(Измените filename в Unlock.bat)</li>
         </details>
    <br>
      <li>Установите <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> и <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Вне зависимости от производителя вашего графического адаптера)</a>, разблокируйте установщики.
        </a>
      </li>
       <br>
      <li>Переместите <code>cg.dll</code>, <code>cgGL.dll</code> и <code>cgD3D9.dll</code> из <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> в <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Скопируйте <code>Adobe AIR.dll</code> из <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> в <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (вставьте <code>NPSWF32.dll</code> в папку <code>Resources</code>)
      </li>
       <br>
      <li>Скачайте <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> и проверьте, какие SIMD инструкции поддерживает ваш ЦП, затем скачайте подходящие(<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> или <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> и вставьте их в ту же директорию, что и Cg файлы (смотрите выше), переименуйте их в <code>tbb.dll</code> и разблокируйте.
      </li>
      <br>
      <li>
         Скачайте <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> и <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> и скопируйте их в то же место, где и <code>cg.dll</code> (смотрите выше), разблокируйте оба файла.
      </li>
      <br>
      <li>
          Вы также можете скопировать два файла из предыдущего шага и вставить их в <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Теперь вы можете играть! (Повторяйте с каждым обновлением LoL)</li>
   </ul>
  </details>
</dl>
      <dt>Обратная связь:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Разработчики:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - безопасный и простой сервис онлайн перечислений!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
