---
title: Hem
layout: default
---
<span id="hero">LoLUpdater är det nuvarande bästa <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(öppenkälla)</a></u> verktyget för att öka FPSen i spelet <a href=http://leagueoflegends.com>League of Legends</a>, gör också <a href="http://pvp.net">PvP.net</a> klienten mer responsiv/snabbare.<br>
<br>
Påverkar inte grafik-utseendet.<br>
Kan göra så att in-game shoppen öppnar snabbare.<br>
<br>
DavidKNA jobbar på att få OSX versionen av den här patchen klar!<br>
<br>
Fungerar för vanliga LoL (Alla servrar), GarenaLoL (Alla versioner) och <a href="http://lol.qq.com/">LoL QQ (Kinesiska LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Skaparna av League of Legends)</a> har sagt <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>det här</u></a> om LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
Du kan inte bli bannad av LoLUpdater.<br>
<br>
Fungerar genom att byta ut League's <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> filer med de senaste från Nvidia/Intel/Adobe/Microsoft, (LoL's filer är inte de senaste).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Ladda ned LoLUpdater v1.0.1.6</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Länk till källkoden</a>
</dt> 
<dd>
  <strong><time>Updated February 7th 2015 11:00 GMT+1</time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>Installations instruktioner:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installera <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Avsluta PvP.net klienten/spelet</li>
         <br>
        <li>Kör LoLUpdater.exe och välj rätt mapp:
        <ul>
        <br>
  <li>Vanliga LoL: <code>Riot Games\League of Legends</code> (där <code>lol.launcher.exe</code> är)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (där <code>lol.exe</code> är)</li>
  <br>
  <li>LoLQQ (Kinesiska LoL): <code>腾讯游戏\英雄联盟</code> (där <code>lol.launcher_tencent.exe</code> är)</li>
</ul>
  <br>
    vänta (Under 1 minut med en 100mbit lina och en SSD)(Stäng LoLUpdater när den är klar)</li>
         <br>
         <li>Kör den så här på Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Repatcha efter varje League-Patch (Riot Uppdatering), även efter de små uppdateringarna</li>
  </details>
  <details>
    <summary><dt>Manuell installation (Klicka)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Hur du avblockerar en fil:</dt>
    </summary>Högerklicka filen -> Egenskaper -> Avblockera</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>På Windows XP behöver du <a href="http://lol.jdhpro.com/UnblockFile.zip">detta</a> för att avblockera filer, extrahera och kör "Unblock.bat" is samma map som filen som du vill avblockera är (Redigera Unblock.bat och ändra filnamnet innuti)</li>
         </details>
    <br>
      <li>Installera <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> och <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Spelar ingen roll om du har ett ATI grafikkort)</a>, avblockera båda filerna.
        </a>
      </li>
       <br>
      <li>Flytta <code>cg.dll</code>, <code>cgGL.dll</code> and <code>cgD3D9.dll</code> from <code>%WindowsDisk%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> to <code>%leaguemapp%\RADS\solutions\lol_game_client_sln\releases\%Senaste%\deploy</code>
      </li>
       <br>
      <li>Kopiera <code>Adobe AIR.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> to <code>%leaguemapp%\RADS\projects\lol_air_client\releases\%enaste%\deploy\Adobe AIR\Versions\1.0</code> (put <code>NPSWF32.dll</code> in the <code>Resources</code> folder)
      </li>
       <br>
      <li>Ladda ned <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> och kolla vilka SIMD instruktioner din processor stödjer, ladda sedan ned rätt fil: (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> eller <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> och lägg de i samma mapp som <code>cg.dll</code> filen (Se ovan), byt namn till <code>tbb.dll</code> på filen och avblockera den.
      </li>
      <br>
      <li>
         Ladda ned <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> och kopiera de till samma ställe som <code>cg.dll</code> (Se ovan), avblockera båda filerna.
      </li>
      <br>
      <li>
          Du kan också kopiera de två föregående filerna till <code>%leaguemapp%\RADS\projects\lol_patcher\releases\%Senaste%\deploy</code>
      </li>
      <br>
      <li>Nu kan du spela! (Upprepa efter varje patch)</li>
   </ul>
  </details>
</dl>

      <dt>Kontakta Oss:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Utvecklarna:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
