---
title: Home
layout: default
---

<span id="hero">LoLUpdater är det nuvarande bästa <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Open-Source)</a></u> verktyget för att öka frameraten i spelet <a href=http://leagueoflegends.com>League of Legends</a>, <a href="http://pvp.net">PvP.net</a> klienten blir mer responsiv också.<br>
<br>
Påverkar inte grafik-utseendet.<br>
Minskar lagget man får när man öppnar in-game shoppen.<br>
<br>
DavidKNA jobbar på OSX versionen av denna patch.<br>
<br>
Fungerar på "Vanliga" LoL (Alla servrar), GarenaLoL (All versioner) och <a href="http://lol.qq.com/">LoL QQ (Kinesiska LoL)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Skaparna av League of Legends)</a> har sagt <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>det här</u></a> om LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater räknas inte som fusk<br>
<br>
Fungerar genom att byta ut League's <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> filer med de senaste från Nvidia/Intel/Adobe/Microsoft, (LoL's filer är inte de nyaste som finns).
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
  <strong><time>Last updated: February 10th 2015 03:00 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<dt class="center"><a href="http://lol.jdhpro.com/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.2.1 (New FTP)</a>
<br>
<br>
<dt class="center"><a href="" class="btn">Download LoLUpdaterAutoupdater (Temporarily offline)</a>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/download.php?user=Loggan&file=S0RhclVHU1ZhMXU4NG5DM1J6YnB1ZkhseWJNN05CSnVsQ2NUekg1TFRDbz0=" class="btn">Download LoLUpdater Uninstaller</a>
</center>
<dl>
  <details open>
 <summary><dt>Hur du installerar LoLUpdater:</dt>
    </summary>
    <dd>
      <ul>
      <li>Installera <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Avsluta PvP.net klienten och spelet</li>
         <br>
         <li>Högerklicka LoLUpdater.exe -> Egenskaper -> Avblockera</li>
         <br>
         <img src="img/unblock.png"><br>
         <br>
        <br>
        <li>Run LoLUpdater.exe and select the appropriate directory:
        <ul>
        <br>
  <li>"Vanliga" LoL: <code>Riot Games\League of Legends</code> (där <code>lol.launcher.exe</code> är)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (där <code>lol.exe</code> är)</li>
  <br>
  <li>LoLQQ (Kinesiska LoL): <code>腾讯游戏\英雄联盟</code> (där <code>lol.launcher_tencent.exe</code> är)</li>
</ul>
  <br>
   Låt LoLUpdater köra klart och stäng sedan ned fönstret</li>
         <br>
         <li>Kör den såhär på XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="42%" height="42%">
         <br>
         <br>
        <li>Patcha om efter varje LoL-patch (Riot patch), även de små</li>
  </details>
   <details open>
 <summary><dt>LoLUpdater Autoupdater</dt>
    </summary>
    <dd>
      <ul>
      <li>LoLUpdater är en auto-uppdaterare till LoLUpdater, du måste ha den på samma ställle som LoLUpdater.exe för att den ska fungera, laddar ner den senaste uppdateringen automatiskt.</li>
 </ul>
 </details>
  <details>
    <summary><dt>Manuell installation: (klicka)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Avblockera filer:</dt>
    </summary><li>Right click file -> Properties -> Unblock</li><br>
        <img src="img/unblock.png"><br>
         <br>
        <br>
      <li>Installera <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> och <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Spelar ingen roll om du har ATI hårdvara)</a>, avblockera installerarna.
        </a>
      </li>
       <br>
       <summary><dt>Garena/LoLQQ mappar:</dt>
    </summary>
     <li><code>%leaguedirectory%\Game</code> and <code>%leaguedirectory%\Air</code></li><br>
      <li>Flytta <code>cg.dll</code>, <code>cgGL.dll</code> and <code>cgD3D9.dll</code> från <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> till <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Kopiera <code>Adobe AIR.dll</code> från <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> till <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (Flytta <code>NPSWF32.dll</code> till <code>Resources</code> mappen)
      </li>
       <br>
      <li>Ladda ned <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> and check what SIMD instructions your CPU supports then download the right one (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> eller <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a>, flytta filen till samma map som du lade <code>cg.dll</code> i (se ovan), döp om den till <code>tbb.dll</code> och avblockera den.
      </li>
      <br>
      <li>
         Ladda ned <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> and <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> then copy them to the same place as <code>cg.dll</code> (See above), unblock both files.
      </li>
      <br>
      <li>
          Kopiera båda filerna från förra steget till <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Upprepa denna process efter varje LoL-patch (Riot-patch), även de små</li>
   </ul>
  </details>
</dl>

      <dt>Kontakt:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Bidragande:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
