---
title: Home
layout: default
---

<span id="hero">LolUptader şuanda en iyi <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(açık kaynak koduna sahip)</a></u> Oyun içi FPS'nizi arttıran yazılımdır,bunun yanında Lol clientinizi daha duyarlı ve hızlı hale getirmenizi sağlar.<br>
<br>
Oyun içi grafik ayarlarınızda herhangi bir değişikliğe yol açmaz.<br>
Oyun içi mağazanızın LoL sitesine daha hızlı ulaşmasını sağlar bu sayede oyuniçin mağazanız daha hızlı bir şekilde açılır.<br>
<br>
DavidKNA şuanda OSX tabanlı işletim sistemlerinde Loluptader'in uyumlu bir şekilde çalışması için yaptığı çalışmaları sürdürmektedir!<br>
<br>
Loluptader Bütün Lol serverlerinin yanı sıra GarenaLol'ün bütün versiyonları ve <a href="http://lol.qq.com/">LoL QQ (Çin Serveri) ile uyumlu çalışmaktadır.</a><br>
<br>
League of Legends yapımcılarının LolUptader Hakkındaki yaptığı yorum.
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LolUptader banlamanıza yol açacak bir yazılım değildir.<br>
<br>
League of Legends'ın kullandığı DLL dosyaları eski olduğu için LolUptader eski DLL dosyalarını Nvidia/Intel/Adobe/Microsoft sitesinden edindiği yeni DLL dosyaları ile değiştirme prensibiyle çalışır.
</span>
</dt>
<hr>
<center>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">LoLUpdater v1.0.0.3 İndirmek İçin</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Açık Kaynak Kodu İçin</a>
</dt> 
<dd>
  <strong><time>Son Güncelleme Tarihi:4 Şubat 2015 20:54 </time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>Yüklemek İçin:</dt>
    </summary>
    <dd>
      <ul>
      <li>Install <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>PvP.net clientinden ve Oyundan Çıkınız</li>
         <br>
        <li>LolUptader'i çalıştırın ve dosya konumundan aktif olarak kullandığınız LoL klasörünü seçiniz::
        <ul>
        <br>
  <li>Varsayılan LoL Klasörü: <code>Riot Games\League of Legends</code> (son konumdan <code>lol.launcher.exe</code>'yi seçiniz)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (Son konumdan <code>lol.exe</code>'yi seçiniz)</li>
  <br>
  <li>LoLQQ (Chinese LoL): <code>腾讯游戏\英雄联盟</code> (Son konumdan <code>lol.launcher_tencent.exe</code>'yi seçiniz)</li>
</ul>
  <br>
    Kurulum tamamlana kadar bekleyin,tamamlandığında LolUptader'i kapatın ve keyfinize bakın!</li>
         <br>
         <li>Windows XP'de Çalıştırmak İçin:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Riot tarafından çıkarılan her patch sonrası LolUptader'i aktif tutamak için tekrar kurmanız gerekebilir.(Mini-Patchlerde bile)</li>
  </details>
  <details>
    <summary><dt>Dosya Bloğunu Kaldırmak İçin:</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Dosya Bloğunu Kaldırmak İçin:</dt>
    </summary>Dosyaya Sağ Tıklayın -> Ayarlardan -> Bloku Kaldırı Seçiniz.</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Windows Xp'de dosya bloğunu kaldırmanız gerebilir bunun için,"Unblock.bat" <a href="http://lol.jdhpro.com/UnblockFile.zip">adlı</a> dosyayı unblok etmek istediğiniz dosyayla aynı klasörde çıkartın ve çalıştırın.</li>
         </details>
    <br>
      <li>Install <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> and <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Does'nt matter if you have an ATI graphics card)</a>.
        </a>
      </li>
       <br>
      <li>Move <code>cg.dll</code>, <code>cgGL.dll</code> and <code>cgD3D9.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> to <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code> dizinine taşıyın
      </li>
       <br>
      <li>Copy <code>Adobe AIR.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> to <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (<code>NPSWF32.dll</code> yi kaynak klasöre yapıştırın) kopyalayın.
      </li>
       <br>
       
      <li><a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a>'yi indirin ve CPU nuzun hangi SIMD yönergeleriyle uyumlu olduguna bakın ve size uygun olanı indirin (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> or <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> and put it in the same directory as the Cg files (see above), rename it to <code>tbb.dll</code> ve blok kaldırma işlemini yapın.
      </li>
      <br>
      <li>
         Download <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> ile aynı konuma kopyalayın ve her iki dosyanında bloğunu kaldırın(Aşağıda gösterilen konum)
      </li>
      <br>
      <li>
          Bu işlem önceki adımı gerçekleştiremeyen kullanılar içindir.Önceki adımdaki iki dosyayı isterseniz bu konumdada blok kaldırma işlemini yapabilirsiniz <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Şimdi Kullanmaya Hazırsınız! (Bu işlemleri her yeni patch sonrası tekrarlamayı unutmayın!)</li>
   </ul>
  </details>
</dl>

      <dt>Bizimle iletişime geçin:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
   Katkıda Bulunanlar:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
