---
title: Home
layout: default
---

<span id="hero">LoLUpdater 是當今強大的 <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(開源)</a></u> 提高遊戲幀數的工具. <a href=http://leagueoflegends.com>League of Legends</a>, 同時也能讓 <a href="http://pvp.net">PvP.net</a> 用戶端擁有更快的反應!.<br>
<br>
完全不會影響遊戲畫質.<br>
能使遊戲中的商店打開更快.<br>
<br>
DavidKNA 此刻正在製作次遊戲版本的OSX用戶端.<br>
<br>
適用於原版英雄聯盟 (所有伺服器), 英雄聯盟Garena (所有版本) 以及 英雄聯盟 騰訊(中國伺服器)
<br>
<a href="http://riotgames.com/">拳頭公司 (英雄聯盟的創始者)</a><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>這樣回應關於</u></a> LoLUpdater.<br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater 絕對不會導致停權!<br>
<br>
通過將英雄聯盟檔下的 <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> 檔替換為從Nvidia/Intel/Adobe/Microsoft獲取到的最新版本 (英雄聯盟次檔非最新). .
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<dt class="center"><a href="ftp://5.175.194.23/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.0.9</a>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
  <strong><time>Updated February 6th 2015 07:15 GMT+1</time></strong>
</dd>
</center>
<dl>
  <details open>
 <summary><dt>安裝方法:</dt>
    </summary>
    <dd>
      <ul>
      <li>安裝 <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a>組件.</li>
        <br>
        <li>退出英雄聯盟用戶端/遊戲</li>
         <br>
        <li>運行 LoLUpdater.exe 選擇安裝位置: 
        <ul>
        <br>
  <li>原版英雄聯盟: <code>Riot Games\League of Legends</code> (<code>lol.launcher.exe</code> 所在位置)</li>
  <br>
  <li>英雄聯盟Garena(臺灣伺服器): <code>GarenaLoL\GameData\Apps\LoL</code> (<code>lol.exe</code> 所在位置)</li>
  <br>
  <li>英雄聯盟騰訊 (中國伺服器): <code>腾讯游戏\英雄联盟</code> (<code>lol.launcher_tencent.exe</code> 所在位置)</li>
</ul>
  <br>
    稍作等待 (若使用固態硬碟,少於一分鐘), 然後盡情享受! (完成安裝後,關閉LOLUpdater)</li>
         <br>
         <li>在Windows XP下這樣運行:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>英雄聯盟每一次更新(拳頭發佈新版本),你需要重新運行 LoLUpdater 以便讓 LoLUpdater 保持生效(就算是微小的版本升級也需要重新安裝一次)</li>
  </details>
  <details>
    <summary><dt>手動安裝: (展開)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>如何解鎖文件:</dt>
    </summary>右鍵點擊檔 -> 屬性(內容) -> 解鎖</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>在 Windows XP 下你需要這個 <a href="http://lol.jdhpro.com/UnblockFile.zip">this</a> 來解鎖檔, 解壓縮並運行 "Unblock.bat" 在同一目錄下 (用記事本編輯 Unblock.bat 在裡面更改檔案名.)</li>
         </details>
    <br>
      <li>安裝 <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> 和 <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (你無須在意使用的是ATI顯卡.)</a>, 打開安裝程式.
        </a>
      </li>
       <br>
      <li>移動 <code>cg.dll</code>, <code>cgGL.dll</code> 以及 <code>cgD3D9.dll</code> 從 <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> 到 <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>複製 <code>Adobe AIR.dll</code> 從 <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> 到 <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (把 <code>NPSWF32.dll</code> 放入 <code>Resources</code> 資料夾)
      </li>
       <br>
      <li>下載 <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> 然後檢查你的CPU支援的SIMD指令,下載正確的版本 (<code>AVX2 > AVX > SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2</code></a> 或 <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> 把它作為Cg檔放進同一個資料夾下(如上圖), 重命名為 <code>tbb.dll</code> 然後解鎖它. 
      </li>
      <br>
      <li>
         下載 <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> 和 <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a> 複製它們到 <code>cg.dll</code> 的相同位置(如上圖), 解鎖這2個文件.
      </li>
      <br>
      <li>
          你也可以在上一步驟複製這兩個檔,並且粘貼到 <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>現在你可以盡情的開始玩了! (每一次版本升級都必需要重複以上步驟)</li>
   </ul>
  </details>
</dl>

      <dt>聯繫我們:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Contributors:
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
