---
title: Home
layout: default
---

<span id="hero">LoLUpdater là một công cụ <u><a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp">(Mã nguồn mở)</a></u> giúp bạn cải thiện FPS trong trò chơi <a href=http://leagueoflegends.com>Liên Minh Huyền Thoại</a>, nó cũng giúp <a href="http://pvp.net">PvP.net</a> client phản hồi nhanh hơn.<br>
<br>
Không ảnh hưởng đến chất lượng đồ họa.<br>
Có thể giúp mở cửa hàng trong trò chơi nhanh hơn.<br>
<br>
DavidKNA đang phát triển phiên bản trên OSX dành cho bản vá hiện tại.<br>
<br>
LoLUpdater làm việc với tất cả các bản LoL bình thường (All servers của Rito), GarenaLoL (All versions) và <a href="http://lol.qq.com/">LoL QQ (LoL Tàu Khựa)</a><br>
<br>
<a href="http://riotgames.com/">Riot (Nhà phát hành trò chơi Liên Minh Huyền Thoại) đã</a> nói về LoLUpdater như <a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><u>sau.</u></a><br>
<br>
<dt><a href="http://forums.euw.leagueoflegends.com/board/showthread.php?p=15329279#15329279"><img src="img/Riot.png"></a></dt>
<br>
LoLUpdater không khiên bạn bị khóa tài khoản.<br>
<br>
Công việc của nó là thay thế những tập tin <a href="http://en.wikipedia.org/wiki/Dynamic-link_library">DLL</a> của Liên Minh Huyền Thoại bằng những tập tin mới nhất từ nVidia/Intel/Adobe/Microsoft. (Những tập tin của Liên Minh Huyền Thoại không phải là mới nhất)
</span>
</dt>
<hr>
<center>
<iframe width="420" height="315" src="https://www.youtube.com/embed/86rSSBU_Cso" frameborder="0" allowfullscreen></iframe>
<dt><img src="img/LoLUpdater.png"></dt>
<br>
<br>
<a href="https://github.com/Loggan08/LoLUpdater/blob/master/LoLUpdater/LoLUpdater.cpp" class="btn">Link to Source-Code</a>
</dt> 
<dd>
   <strong><time>Updated February 8th 2015 12:24 GMT+1</time></strong>
</dd>
<br>
<br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Desktop 2 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="7125316539"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<br>
<br>
<dt class="center"><a href="http://www.smoothdev.org/mirrors/user/Loggan/LoLUpdater.exe" class="btn">Download LoLUpdater v1.0.1.9</a>
<dd>SHA512 Checksum: 24CB0061E2A77E34A56E580C82411E6632CA1D34499F48E67FFC3E59175FD2665E3783EDDC25925A2449FB55600ABD7B948DA8A4682258FF494A505EA9C7E63E</dd>
</center>
<dl>
  <details open>
 <summary><dt>Hướng dẫn cài đặt</dt>
    </summary>
    <dd>
      <ul>
      <li>Cài đặt <a href="http://download.microsoft.com/download/2/E/6/2E61CFA4-993B-4DD4-91DA-3737CD5CD6E3/vcredist_x86.exe">Microsoft Visual C++ Redistributable 2013 (x86)</a></li>
        <br>
        <li>Thoát PvP.net client/Game</li>
         <br>
        <li>Chạy LoLUpdater.exe và chọn đường dẫn trò chơi: 
        <ul>
        <br>
  <li>LoL phiên bản thường của Riot: <code>Riot Games\League of Legends</code> (nơi có file <code>lol.launcher.exe</code>)</li>
  <br>
  <li>GarenaLoL: <code>GarenaLoL\GameData\Apps\LoL</code> (nơi có file <code>lol.exe</code>)</li>
  <br>
  <li>LoLQQ (LoL Tàu Khựa):: <code>腾讯游戏\英雄联盟</code> (nơi có file <code>lol.launcher_tencent.exe</code>)</li>
</ul>
  <br>
   chờ một lát (nếu bạn dùng SSD sẽ chỉ tốn một phút thôi), thưởng thức thôi! (Có thể đóng LoLUpdater khi nó hoàn thành)</li>
         <br>
         <li>Chạy nó như thế này trên Windows XP:</li>
         <br>
         <img src="img/XPinstallation.png" width="33%" height="33%">
         <br>
         <br>
        <li>Bạn có thể chạy LoLUpdater sau khi Liên Minh Huyền Thoại được cập nhật (bởi Riot) để giữ cho LoLUpdater hoạt động tốt.</li>
  </details>
  <details>
    <summary><dt>Cài đặt thủ công: (click)</dt>
    </summary>
    <ul>
    <details open>
    <summary><dt>Cách để Unblock một file:</dt>
    </summary>Right click file -> Properties -> Unblock</li><br>
        <img src="img/unblock.png"><br>
         <br>
         <li>Trên Windows XP bạn cần đến cái <a href="http://lol.jdhpro.com/UnblockFile.zip">này</a> để unblock, giải nén ra và chạy tập tin "Unblock.bat" trong thư mục có tập tin mà bạn muốn Unblock (sưa tập tin Unblock.bat và đổi tên tập tin muốn unblock bên trong đó)</li>
         </details>
    <br>
      <li>Cài <a href="http://labs.adobe.com/downloads/air.html">Adobe Air</a> và <a href="http://developer.download.nvidia.com/cg/Cg_3.1/Cg-3.1_April2012_Setup.exe">NvidiaCG (Không cần nếu bạn dùng card màn hình ATI)</a>, unblock the installers.
        </a>
      </li>
       <br>
      <li>Di chuyển file <code>cg.dll</code>, <code>cgGL.dll</code> and <code>cgD3D9.dll</code> đến <code>%WindowsDrive%:\Program Files (x86)\NVIDIA Corporation\Cg\bin</code> to <code>%leaguedirectory%\RADS\solutions\lol_game_client_sln\releases\%Latest%\deploy</code>
      </li>
       <br>
      <li>Copy <code>Adobe AIR.dll</code> from <code>%WindowsDrive%:\Program Files (x86)\Common Files\Adobe AIR\Versions\1.0</code> to <code>%leaguedirectory%\RADS\projects\lol_air_client\releases\%Latest%\deploy\Adobe AIR\Versions\1.0</code> (put <code>NPSWF32.dll</code> in the <code>Resources</code> folder)
      </li>
       <br>
      <li>Download <a href="http://www.cpuid.com/softwares/cpu-z.html">CPU-Z</a> và kiểm tra SIMD nào CPU của bạn hỗ trợ sau đó download một trong những cái sau đây(<code>AVX2</code> > <code>AVX</code> > <code>SSE2</code>): <a href="http://lol.jdhpro.com/AVX2.dll"><code>AVX2-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX2-Win7.dll"><code>AVX2-Win7</code></a>, <a href="http://lol.jdhpro.com/AVX.dll"><code>AVX-Win8</code></a>,<a href="http://lol.jdhpro.com/AVX-Win7.dll"><code>AVX-Win7</code></a>, <a href="http://lol.jdhpro.com/SSE2.dll"><code>SSE2-Win8</code></a>, <a href="http://lol.jdhpro.com/SSE2-Win7.dll"><code>SSE2-Win7</code></a>, <a href="http://lol.jdhpro.com/Vista.dll"><code>Vista</code></a> hoặc <a href="http://lol.jdhpro.com/XP.dll"><code>WinXP</code></a> rồi đặt nó trong thư mục cùng với những files Cg (xem ở bên trên), đổi tên nó thành <code>tbb.dll</code> rồi Unblock nó.  .
      </li>
      <br>
      <li>
         Download <a href="http://lol.jdhpro.com/msvcp120.dll"><code>msvcp120</code></a> & <a href="http://lol.jdhpro.com/msvcr120.dll"><code>msvcr120</code></a>  rồi copy vào thư mục cùng với tập tin cg.dll (xem ở bên trên), unblock cả 2 tập tin đó..
      </li>
      <br>
      <li>
          Bạn cũng có thể copy hai tập tin ở bước trước và dán nó vào <code>%leaguedirectory%\RADS\projects\lol_patcher\releases\%Latest%\deploy</code>
      </li>
      <br>
      <li>Bây giờ bạn có thể tự do trải nghiệm Liên Minh Huyền Thoại! (làm lại sau mỗi bản cập nhật)</li>
   </ul>
  </details>
</dl>

      <dt>Liên hệ với chúng tôi:</dt>
          <dt><a href="http://webchat.quakenet.org/?channels=#LoLUpdater">IRC</a>: #LoLUpdater @ Quakenet</dt>
          <dt><a href="mailto:Ilja.Korsun@Gmail.com">Email</a>: <img src="img/Email.png"></dt>
          <dt>Skype: Ikorsu</dt>
<br>
  Cộng tác viên::
  <ul id="contributors">
  {% for contributor in site.data.contributors  %}
    <li>
    {% if contributor.website %}
    <a href="https://github.com/{{ contributor.website }}">
      {{ contributor.name }}
    </a>
    {% elsif contributor.github %}
      <a href="https://github.com/{{ contributor.github }}">
        {{ contributor.name }}
      </a>
    {% else %}
    {{ contributor.name }}
    {% endif %}
    </li>
  {% endfor %}
  </ul>
  
<center><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AEM8BLMM2TY6G">
<input type="image" src="http://www.lolupdater.com/img/heart.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form></center>
