<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <title>{{ page.title }} | LoLUpdater</title>
  <script>
  if (window.location.host != "www.lolupdater.com") {
    window.location = "http://lolupdater.com" + location.pathname.substr(11);
  }
  </script>
  <link rel="canonical" href="http://lolupdater.com"/>
  <link rel="stylesheet" href="/styles/main.css">
  <!--[if lt IE 9]>
    <script src="js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
  <![endif]-->
</head>

<body>
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div id="outer_header">
    <header class="container">
      <a href="/"><img id="logo" src="/img/logo.png" alt="LoLUpdater Logo"></a>
    </header>
  </div>
  <main class="container">
   <center><a href="/"><img id="lang" src="/img/Usa.png" alt="Usa"></a>
   <a href="/SWE"><img id="lang" src="/img/Sweden.png" alt="Sweden"></a>
      <a href="/BR"><img id="lang" src="/img/Brazil.png" alt="Brazil"></a>
      <a href="/FR"><img id="lang" src="/img/France.png" alt="France"></a>
      <a href="/IT"><img id="lang" src="/img/Italy.png" alt="Italy"></a>
            <a href="/RUS"><img id="lang" src="/img/Russia.png" alt="Russia"></a></center>
   <br>
   <br>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Header -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="1109151330"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
